<div class="container-md d-flex">
  <div class="mt-5 row mx-auto ">
      <h1 class="mb-3">Ingreso Producto</h1>
      <form id="form-product" method="post" action="/api/productos/" autocomplete="off" >
        <div class="mb-3">
          <input
            placeholder="Nombre del producto"
            type="text"
            class="form-control"
            id="inputTitle"
            name="title"
          />
        </div>
        <div class="mb-3">
          <input
            placeholder="Precio del producto"
            type="text"
            class="form-control"
            id="inputPrice"
            name="price"
          />
        </div>
        <div class="mb-4">
          <input
            placeholder="URL de la imagen"
            type="text"
            class="form-control"
            id="inputUrl"
            name="thumbnail"
          />
        </div>
        <button
          type="submit"
          form="form-product"
          class="btn btn-primary"
        >Enviar</button>
      </form>
      <div id="products-list"></div>   
  </div>
  <div id="chat-box" class="mt-5 col-6">
      <h1>Centro de mensajes</h1>
      <form>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Ingrese su email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="user"
          />
        </div>
      </form>
    </div>
</div>