extends layout.pug

block content
    .container-md
        h1.mt-5 Lista de Productos
        a( class="btn btn-primary mb-4 mt-3", href="/", role="button") Agregar un producto
        div(class="row row-cols-1 row-cols-md-3 g-2 mt-3")
            each val in products
                .container
                    .card.mb-3 
                        img(src=val.thumbnail, class="card-img-top w-25 mx-auto my-3 mx-3" alt=val.title)
                        .card-body
                          .d-flex.justify-content-between.mb-3
                            h5.mb-0 #{val.title}
                            h5.text-dark.mb-0 $#{val.price}
        unless listExists
            h3 No hay productos cargados
          
                
